.cards {
    margin-top: -16px;
}
.card {
    display: flex;
}
.card_picture {
    width: 50%;
    background-image: url('../images/man.png');
    background-size: cover;
}
.card_description {
    width: 50%;
    padding: 250px 0px 120px 0px;
    position: relative;
}
.number_box {
    width: 168px;
    height: 155px;
    background-color: $dark-purple;
    display: flex;
    text-decoration: none;
    position: absolute;
    left: -84px;
    top: 230px;
    transition: all 0.3s;
    &:hover {
        background-color: black;
    }
}
.number {
    @include fonts ($ProxB, 24px, white);
    letter-spacing: 1.2px;
    margin: 60px 70px;
}
.number::after {
    content:'';
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: $purple;
}
.card_description_title {
    @include fonts ($ProxB, 90px, $light-grey);
    text-transform: uppercase;
    margin: 0px 0px 120px 125px;
}
.card_description_text {
    @include fonts ($ProxRg, 24px, black);
    min-height: 170px;
    max-width: 500px;
    letter-spacing: 1.2px;
    margin-left: 125px;
    padding-bottom: 20px;
    position: relative;
}
.card_description_text::after {
    content:'';
    width: 22px;
    height: 5px;
    border-radius: 2px;
    background-color: $dark-purple;
    position: absolute;
    bottom: 0;
    left: 0;
}
.card_description_text__first {
    width: 322px;
}
.card:nth-child(2n) {
    flex-direction: row-reverse;
}
.card_picture__coach {
    background-image: url('../images/coach.png');
}
.number_box__second {
    position: absolute;
    left: auto;
    right: -84px;
}
.card_picture__team {
    background-image: url('../images/team.png');
}